<!DOCTYPE html>
<html>
    <head>
        <title>Form Recepcionista</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/Imegenes/logo1.png">
        <link rel="stylesheet" href="/CSS/avg_encabezado.css">
        <link rel="stylesheet" href="/CSS/avg_Formulario_empleados.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    </head>
<body>
    <nav id="Perfil_recepcionista">
        <ul>
            <li>
                            <a href="#" class="logo">
                                <img src="/Imegenes/logo.png" alt="">
                                <span class="nav-item">Citas e Ingresos</span>
                            </a>
                        </li>
                        <li><a asp-controller="Home" asp-action="Avg_Tabla_Ingresos">
                            <i class="fas fa-home"></i>
                            <span class="nav-item">Inicio</span>
                        </a></li>
                        <li><a asp-controller="Home" asp-action="avg_Formulario_cliente">
                            <i class="fas fa-wallet"></i>
                            <span class="nav-item">Propietario / Mascota</span>
                        </a></li>
                        <li><a asp-controller="Home" asp-action="avg_Formulario_citas">
                            <i class="fas fa-chart-bar"></i>
                            <span class="nav-item">Citas</span>
                        </a></li>
                        <li><a asp-controller="Home" asp-action="avg_Formulario_empleados">
                            <i class="fas fa-cog"></i>
                            <span class="nav-item">Equipo de trabajo</span>
                        </a></li>
                        <li><a asp-controller="Home" asp-action="avg_Formulario_perfil_recep">
                            <i class="fas fa-user"></i>
                            <span class="nav-item">Perfil</span>
                        </a></li>
                        <li><a asp-controller="Home" asp-action="avg_tabla_notif_recepcion">
                            <i class="fas fa-tasks"></i>
                            <span class="nav-item">Notificaciones</span>
                        </a></li>
                       <!-- <li><a href="#">
                            <i class="fas fa-question-circle"></i>
                            <span class="nav-item">Ayuda</span> 
                        </a></li>-->
                        <li><a asp-controller="Home" asp-action="Index">
                            <i class="fas fa-sign-out-alt"></i>
                            <span class="nav-item">Salir</span> 
                        </a></li>
                    </ul>
                </nav>
    <div class="main-content">
        <header>
            <h2>
                <label>
                    <span class="las la-bars"></span>
                </label>
                Dogsano
            </h2>
            <div class="search-wrapper">
                <span class="las la-search"></span>
                <input type="search" placeholder="Buscar"/>
            </div>

            <div class="user-wrapper">
                <img src="/Imegenes/recepcionista_perfil.jpg" width="40px"height="40px" alt="">
                <div>
                    <h4>CATALINA RUIZ MENDEZ</h4>
                    <small>RECEPCIONISTA</small>
                </div>
            </div>
        </header>
    </div>
    <br><br><br><br>
	<main>
        <h1>CATALINA RUIZ MENDEZ</h1>
        <div class="img_usuaro">
            <img src="/Imegenes/recepcionista_perfil.jpg">
        </div>
        <br><br>
		<form action="" class="formulario" id="formulario">
			<!-- Grupo: Nombre Usuario -->
            <div class="formulario__grupo" id="Nombre">
				<label for="Nombre" class="formulario__label">Nombres</label>
				<div class="formulario__grupo-input">
					<input type="text" class="formulario__input" name="Nombre" id="Nombre" placeholder="Catalina" readonly  value >
				</div>
			</div>
            <div class="formulario__grupo" id="Apellidos">
				<label for="Apellidos" class="formulario__label">Apellidos</label>
				<div class="formulario__grupo-input">
					<input type="text" class="formulario__input" name="Apellidos" id="Apellidos" placeholder="Ruiz Mendez" readonly  value>
				</div>
			</div>
            <!-- Grupo: Cedula -->
			<div class="formulario__grupo" id="Cedula">
				<label for="Cedula" class="formulario__label">Numero de Cedula</label>
				<div class="formulario__grupo-input">
					<input type="number" class="formulario__input" name="Cedula" id="Cedula" step="1" min="10000000" max="1999999999"placeholder="1014568987" readonly  value>
				</div>
			</div>
            <div class="formulario__grupo" id="Fecha Nacimiento">
				<label for="Fecha Nacimiento" class="formulario__label">Fecha Nacimiento</label>
				<div class="formulario__grupo-input">
					<input type="text" class="formulario__input" name="Fecha Nacimiento" id="Fecha Nacimiento" step="1" min="1" max="3" placeholder="01/08/2002" readonly  value>
				</div>
			</div>
			<div class="formulario__grupo" id="Celular">
				<label for="Celular" class="formulario__label">Numero Celular</label>
				<div class="formulario__grupo-input">
					<input type="number" class="formulario__input" name="Celular" id="Celular"min="3002000000" max="3509999999" placeholder="3004556633" readonly  value>
				</div>
			</div>
            <div class="formulario__grupo" id="Email">
				<label for="Email" class="formulario__label">Email</label>
				<div class="formulario__grupo-input">
					<input type="email" class="formulario__input" name="Email" id="Email"  placeholder="cruizm@dogsano.com" readonly  value >
				</div>
			</div>
            <div class="formulario__grupo" id="Direccion">
				<label for="Direccion" class="formulario__label">Direccion</label>
				<div class="formulario__grupo-input">
					<input type="text" class="formulario__input" name="Direccion" id="Direccion"  placeholder="Cra 68 # 68d 24 Urb Salomon torre 4 apto 1303" readonly  value>
				</div>
			</div>
            <div class="formulario__grupo" id="Especialidad">
				<label for="Especialidad" class="formulario__label">Especialidad</label>
				<div class="formulario__grupo-input">
					<input type="text" class="formulario__input" name="Especialidad" id="Especialidad"  placeholder="Auxiliar" readonly  value>
				</div>
			</div>
            <div class="formulario__grupo" id="Cargo">
				<label for="Cargo" class="formulario__label">Especialidad</label>
				<div class="formulario__grupo-input">
					<input type="text" class="formulario__input" name="Cargo" id="Cargo"  placeholder="Recepcionista" readonly  value>
				</div>
			</div>
            <div class="formulario__grupo" id="Eps">
				<label for="Eps" class="formulario__label">Eps</label>
				<div class="formulario__grupo-input">
					<input type="text" class="formulario__input" name="Eps" id="Eps"  placeholder="E.P.S. SANITAS S.A." readonly  value>
				</div>
                <br><br>
			</div>
			<div class="formulario__grupo formulario__grupo-btn-enviar">
				<button type="submit" class="formulario__btn">Editar</button>
			</div>
		</form>
	</main>
</body>
</html>