<!DOCTYPE html>
<html>
    <head>
        <!--para que la pagina interprete el lenguaje universal-->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Etiqueta para ajustar el contenido al ancho del dispositivo -->
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scalable=no, initial-scale=1.0, maximum-scale=1.0,maximum-scale=1.0">
        <!--se agregan los links de los archivos css-->
        <title>¿Quienes somos?</title>
        <link rel="stylesheet" href="/CSS/menu.css">
        <link rel="stylesheet" href="/CSS/stylefooter.css">
        <link rel="stylesheet" href="/CSS/nosotros.css">
        <link rel="stylesheet" href="/CSS/consejos.css">
        <link rel="shortcut icon" href="/Imegenes/logo1.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    </head>
<body>
    <nav>
        <!--se agrega un icono de font awesome para la casilla de verificacion con la clase checkbtn-->
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <!--se agrega una clase enlace-->
        <a href="#" class="enlace">
            <!--se agrega el logo para el menu mediante la clase logo-->
            <img src="/Imegenes/logo.png" alt="" class="logo">
            <p class="nombre"><b> VPETSOFT </b></p>
        </a>
        <!--lista de menu-->
        <ul>
            <!--se agrega los valores para la lista del menu y al valor del inicio se le agrega la clase active-->
            <li><a class="active" href="/HTML/index.html">Inicio</a></li>
            <li><a href="/HTML/nosotros.html">¿Quienes somos?</a></li>
            <li><a href="/HTML/modulos.html">Servicios</a></li>
            <li><a href="/HTML/error_404.html">Red de atencion</a></li>
            <li><a href="/HTML/contactenos.html">Contactenos</a></li>
        </ul>
    </nav>
    <div class="wrapper">
        <img src="/Imegenes/Logo Software sin fondo.png" alt="">
        <div class="text-box">
            <h2>VPETSOFT</h2>
            <h2> ¿Quienes somos?</h2>
            <p>
                VPETSOFT es un proyecto de software enfocado a la veterinaria y a solucionar
                algunos de sus procesos que se hacian de forma manual, lo que ocasionaba perdida de informacion
                y tiempo. Este grupo esta conformado por 3 integrantes del tecnologo de Analisis y desarrollo de software,
                quienes son Yeison Capataz, Alejandra Velasco y Juan Horta. Se trabajaran con 3 modulos. El sistema a 
                desarrollar es un software de gestión de servicios veterinarios que permitirá a las clínicas y veterinarios 
                llevar a cabo un registro y seguimiento de las citas e ingreso de pacientes, historias clínicas veterinarias y 
                control de inventario. El sistema contará con una interfaz de usuario intuitiva y fácil de usar, que permitirá
                una gestión eficiente y precisa de los servicios. 
            </p>
        </div>
    </div>
    <!--se crea una clase containerr que tendra las 3 tarjetas (nosotros, mision, vision)-->
    <div class="containerr">
        <!--se crea una clase cardd que contendra la imagen e informacion de la primera tarjeta (NOSOTROS)-->
        <div class="cardd">
            <!--se usa la etiqueta figure para almacenar la imagen de la primera tarjeta-->
            <figure>
                <img src="/Imegenes/agendamiento.png">
            </figure>
            <!--se crea la clase contenidoo con la informacion de la primera tarjeta (NOSOTROS)-->
            <div class="contenidoo">
                <h3>GESTION DE AGENDAMIENTO Y REGISTRO</h3>
                <p>
                    Este módulo permitirá a los usuarios registrar y gestionar las citas de los pacientes, 
                    incluyendo la fecha, hora, información de la mascota y el veterinario asignado. Además, 
                    permitirá organizar citas de los pacientes en la clínica. La funcionalidad es realizar 
                    la selección de la fecha y hora de la cita.
                    
                </p>
                <!--Se crea un enlace-->
                <a href="/HTML/avg_tabla_ingresos.html">Leer más</a>
            </div>
        </div>
         <!--se crea una clase cardd que contendra la imagen e informacion de la segunda tarjeta (MISION)-->
        <div class="cardd">
            <!--se usa la etiqueta figure para almacenar la imagen de la segunda tarjeta-->
            <figure>
                <img src="/Imegenes/historia.png">
            </figure>
            <!--se crea la clase contenidoo con la informacion de la segunda tarjeta (MISION)-->
            <div class="contenidoo">
                <h3>GESTION DE HISTORIAS CLINICAS</h3>
                <p>
                    Este módulo permitirá a los usuarios llevar a cabo un registro detallado de las historias clínicas 
                    de los pacientes, incluyendo su información personal, datos médicos, tratamientos, exámenes médicos 
                    y medicaciones. Los usuarios podrán acceder a la información de los pacientes y realizar un seguimiento
                    detallado de su estado de salud a lo largo del tiempo.
                    
                </p>
                <!--Se crea un enlace-->
                <a href="/HTML/ydcapa_tabla_ingreso.html">Leer más</a>
            </div>
        </div>
        <!--se crea una clase cardd que contendra la imagen e informacion de la tercera tarjeta (VISION)-->
        <div class="cardd">
        <!--se usa la etiqueta figure para almacenar la imagen de la tercera tarjeta-->
            <figure>
                <img src="/Imegenes/inventario.jpg">
            </figure>
            <!--se crea la clase contenidoo con la informacion de la tercera tarjeta (VISION)-->
            <div class="contenidoo">
                <h3>GESTION DE INVENTARIO</h3>
                <p>
                    Este módulo permitirá a los usuarios llevar a cabo un registro detallado del inventario de productos 
                    y suministros utilizados en la clínica veterinaria, incluyendo su cantidad y fecha de vencimiento y 
                    distinta información de los productos, además de poder ver distinta información de los proveedores. 
                    Los usuarios también podrán realizar el seguimiento de los movimientos del inventario, como la entrada y 
                    salida de productos, y la dispensación de productos a los pacientes.
                </p>
                <!--Se crea un enlace-->
                <a href="/HTML/juand_notificaciones.html">Leer más</a>
            </div>
        </div>
    </div>
    <br><br>
    <footer class="footer">
        <div class="container">
            <div class="footer-row">
                <div class="footer-links">
                    <h4>Siguenos</h4>
                    <div class="social-link">
                        <a href="https://www.facebook.com/profile.php?id=100092412408020&sk=about"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://instagram.com/petsoftpetsoft?igshid=NTc4MTIwNjQ2YQ=="><i class="fab fa-instagram"></i></a>
                        <a href="https://twitter.com/petsoft_1"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.youtube.com/proyectosena-se8xb/featured"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
                <div class="footer-links">
                    <h4>Compañía</h4>
                    <ul>
                        <li><a href="/HTML/nosotros.html">Nosotros</a></li>
                        <li><a href="/HTML/modulos.html">Nuestros Sevicios</a></li>
                        <li><a href="/HTML/error_404.html">Red de atención</a></li>
                        <li><a href="/HTML/mapaSitio.html">Mapa de sitio</a></li>
                    </ul>
                </div>
                <div class="footer-links">
                    <h4>Ayuda</h4>
                    <ul>
                        <li>Telefono</li>
                        <br>
                        <li>3104598871</li>
                        <li>018000911233</li>
                        <br>
                        <li>Horario de atención</li>
                        <br>
                        <li>Lunes a viernes</li>
                        <li>8:00am - 7:00pm</li>
                        <li>Sabados, domingos y festivos</li>
                        <li>10:00am - 6:00pm</li>
                        <br>
                        <li>Correo</li>
                        <br>
                        <li>proyectosena318@gmail.com </li>
                    </ul>
                </div>
                <div class="maps"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1988.445830815705!2d-74.1170330307784!3d4.613404528124113!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f99450e9c484f%3A0x9f22c108bb0bc4d4!2sDogsano!5e0!3m2!1ses!2sco!4v1683205339028!5m2!1ses!2sco" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
            </div>
        </div>
    </footer>
</body>
</html>