<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTRARSE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/contactenos.css">
    <link rel="stylesheet" href="/CSS/menu.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/Imegenes/logo1.png">
</head>
<body>
    <!--Etiqueta nav proporciona enlaces de navegación,-->
    <nav>
        <!--se agrega un icono de font awesome para la casilla de verificacion con la clase checkbtn-->
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <!--se agrega una clase enlace-->
        <a href="#" class="enlace">
            <!--se agrega el logo para el menu mediante la clase logo-->
            <img src="/Imegenes/logo.png" alt="" class="logo">
            <p class="nombre"><b> VPETSOFT </b></p>
        </a>
        <!--lista de menu-->
        <ul>
            <!--se agrega los valores para la lista del menu y al valor del inicio se le agrega la clase active-->
            <li><a asp-controller="Home" asp-action="Index" class="active">Inicio</a></li>
            <li><a asp-controller="Home" asp-action="Nosotros">¿Quienes somos?</a></li>
            <li><a asp-controller="Home" asp-action="Modulos">Servicios</a></li>
            <li><a asp-controller="Home" asp-action="Error_404">Red de atencion</a></li>
            <li><a asp-controller="Home" asp-action="Contactenos">Contactenos</a></li>
        </ul>
    </nav>
    <div class="contenedor">
        <form action="" class="form">
            <div class="form-header">
                <h1 class="form-title">REGISTRATE</h1>
            </div>
            <label for="nombre" class="form-label">Nombres</label>
            <input type="text" id="nombre" class="form-input" placeholder="Escriba sus nombres" required title="No usar numeros para el nombre" pattern="[a-zA-Z]{2,}">
            <label for="apellido" class="form-label">Apellidos</label>
            <input type="text" id="apellido" class="form-input" placeholder="Escriba sus apellidos" required title="No usar numeros para el apellido" pattern="[a-zA-Z]{2,}"> 
            <label for="cedula" class="form-label">Cedula</label>
            <input type="number" id="telefono" class="form-input" placeholder="Escriba su numero de identificacion" required> 
            <label for="correo" class="form-label">Correo</label>
            <input type="email" id="correo" class="form-input" placeholder="Escriba su correo electronico" required> 
            <label for="telefono" class="form-label">Telefono</label>
            <input type="number" id="telefono" class="form-input" placeholder="Escriba su numero telefonico" required pattern="[0-9]{10,}"> 
            <label for="contraseña" class="form-label">Contraseña</label>
            <input type="password" id="contraseña" class="form-input" placeholder="Escriba su contraseña" required>
            <label for="contraseña" class="form-label">Confirmacion contraseña</label>
            <input type="password" id="contraseña" class="form-input" placeholder="Confirme su contraseña" required>
            <br><br>
            <input class="btn-submit" type="submit" value="Registrarse">
            <p><a asp-action="InicioSesion" class="form-label">¿Ya tiene cuenta? Inicie sesion acá</a></p>
        </form>
    </div>
</body>
</html>