<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla_Citas</title>
    <link rel="stylesheet" href="/CSS/avg_encabezado.css">
    <link rel="stylesheet" href="/CSS/Tabla_citas.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="shortcut icon" href="/Imegenes/logo1.png">
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="#" class="logo">
                    <img src="/Imegenes/logo.png" alt="">
                    <span class="nav-item">Citas e Ingresos</span>
                </a>
            </li>
            <li><a href="/HTML/avg_tabla_ingresos.html">
                <i class="fas fa-home"></i>
                <span class="nav-item">Inicio</span>
            </a></li>
            <li><a href="/HTML/avg_Formulario_cliente.html">
                <i class="fas fa-wallet"></i>
                <span class="nav-item">Propietario / Mascota</span>
            </a></li>
            <li><a href="/HTML/avg_Formulario_citas.html">
                <i class="fas fa-chart-bar"></i>
                <span class="nav-item">Citas</span>
            </a></li>
            <li><a href="/HTML/avg_Formulario_empleados.html">
                <i class="fas fa-cog"></i>
                <span class="nav-item">Equipo de trabajo</span>
            </a></li>
            <li><a href="/HTML/avg_Formulario_perfil_recep.html">
                <i class="fas fa-user"></i>
                <span class="nav-item">Perfil</span>
            </a></li>
            <li><a href="/HTML/avg_tabla_notif_recepcion.html">
                <i class="fas fa-tasks"></i>
                <span class="nav-item">Notificaciones</span>
            </a></li>
           <!-- <li><a href="#">
                <i class="fas fa-question-circle"></i>
                <span class="nav-item">Ayuda</span> 
            </a></li>-->
            <li><a href="/HTML/index.html" class="logout">
                <i class="fas fa-sign-out-alt"></i>
                <span class="nav-item">Salir</span> 
            </a></li>
        </ul>
    </nav>
    <div class="main-content">
        <header>
            <h2>
                <label>
                    <span class="las la-bars"></span>
                </label>
                Dogsano
            </h2>
            <div class="search-wrapper">
                <span class="las la-search"></span>
                <input type="search" placeholder="Buscar"/>
            </div>

            <div class="user-wrapper">
                <img src="/Imegenes/recepcionista_perfil.jpeg" width="40px"height="40px" alt="">
                <div>
                    <h4>CATALINA RUIZ MENDEZ</h4>
                    <small>RECEPCIONISTA</small>
                </div>
            </div>
        </header>
    </div>
    <main class="table">
        <section class="table__header">
            <h1>Asignacion citas</h1>
            <div class="input-group">
                <input type="search" placeholder="Buscar">
                <img src="/Imegenes/search-icon.png" alt="">
            </div>
        </section>
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th>Fecha cita</th>
                        <th>Hora cita</th>
                        <th>Veterinario</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>17/06/2023</td>
                        <td>8:00 a.m.</td>
                        <td>Paola Martelo</td>
                        <td>
                            <p class="status pendiente">Asignar</p>
                        </td> 
                    </tr>
                    <tr>
                        <td>17/06/2023</td>
                        <td>8:00 a.m.</td>
                        <td>Adriana Lima</td>
                        <td>
                            <p class="status pendiente">Asignar</p>
                        </td> 
                    </tr>
                    <tr>
                        <td>17/06/2023</td>
                        <td>8:00 a.m.</td>
                        <td>Leonardo Reyes</td>
                        <td>
                            <p class="status pendiente">Asignar</p>
                        </td> 
                    </tr>
                    <tr>
                        <td>17/06/2023</td>
                        <td>9.00 a.m.</td>
                        <td>Paola Martelo</td>
                        <td>
                            <p class="status pendiente">Asignar</p>
                        </td> 
                    </tr>
                    <tr>
                        <td>17/06/2023</td>
                        <td>10:00 a.m.</td>
                        <td>Adriana Lima</td>
                        <td>
                            <p class="status pendiente">Asignar</p>
                        </td> 
                    </tr>
                    <tr>
                        <td>17/06/2023</td>
                        <td>10:00 a.m.</td>
                        <td>Leonardo Reyes</td>
                        <td>
                            <p class="status pendiente">Asignar</p>
                        </td> 
                    </tr>
                    <tr>
                        <td>17/06/2023</td>
                        <td>11.00 a.m.</td>
                        <td>Paola Martelo</td>
                        <td>
                            <p class="status pendiente">Asignar</p>
                        </td> 
                    </tr>
                    <tr>
                        <td>17/06/2023</td>
                        <td>12:00 p.m.</td>
                        <td>Adriana Lima</td>
                        <td>
                            <p class="status pendiente">Asignar</p>
                        </td> 
                    </tr>
                    <tr>
                        <td>17/06/2023</td>
                        <td>3:00 p.m.</td>
                        <td>Leonardo Reyes</td>
                        <td>
                            <p class="status pendiente">Asignar</p>
                        </td> 
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
    
</body>
</html>